/****************************************************************************************************
*   MITx Theming File
*
*   Contains all the theme color definitions for the MITx Open Source MOOC Project
*
****************************************************************************************************/

//-----------------
//  Color variables (from MIT palette unless noted)
//-----------------

//Cardinal Color Variables
$cardinal-red: #A31F34;
$dark-red: #A31F34; //Link Color
$cardinal-light: #A31F34; //Selected Header BG Color, ie. calendar        ***Custom, not from palette***
$cardinal-bg: #A31F34; //Selected Content BG Color, ie. calendar          ***Custom, not from palette***

//MIT PMS 420 Color Variables
$beige: #c2c0bf;
$beige-60: lighten($beige, 18.5%); //Main Border/HR Color
$beige-25: lighten($beige, 25%);

//MIT PMS 424 Color Variables
$sandstone: #8a8b8c;
$sandstone-50: lighten($sandstone, 9%);
$sandstone-25: lighten($sandstone, 20%); //Important Heading BG Color

//Gray Color Variables
$gray: #3f3c30; //Main Text Color
$gray-75: lighten($gray, 18.25%); //Lighter Text Color

$gray-3: #e9e6df; //Block/Course BG Color
$gray-2: #f2f1eb;
$gray-1: #fbfbf9; //Main BG Color

$black: #2e2d29;
$black-80: #585754;



//-----------------
//  Font Assignment
//-----------------

$theme-sans-font: 'Source Sans';
$sans-serif: $theme-sans-font, $sans-serif;
$body-font-family: $sans-serif;

$theme-serif-font: 'Crimson Text';
$serif: $theme-serif-font, $serif;




//-----------------
//  Theme Element Assignments
//-----------------

$body-bg: $gray-1;
$container-bg: $gray-1;
$login-register-bg: $gray-1;
$content-wrapper-bg: $gray-1;
$header-image: none;
$header-bg: transparentize(lighten($sandstone, 18.5%), .25);
$courseware-header-image: none;
$courseware-header-bg: transparentize(lighten($sandstone, 18.5%), .25);
$footer-bg: $sandstone-25;
$courseware-footer-border: 1px solid $beige-60;
$courseware-footer-shadow: box-shadow(2px 1px 0 rgba(0, 0, 0, .1));
$courseware-footer-margin: 50px;

$faded-hr-image-1: linear-gradient($beige-60 0%, $beige-60);
$faded-hr-image-2: linear-gradient($beige-60 0%, $beige-60);
$faded-hr-image-3: linear-gradient($beige-60 0%, $beige-60);
$faded-hr-image-4: linear-gradient($beige-60 0%, $beige-60);
$faded-hr-image-5: linear-gradient($beige-60 0%, $beige-60);
$faded-hr-image-6: linear-gradient($beige-60 0%, $beige-60);

$base-font-color: $black;
$lighter-base-font-color: $black-80;
$very-light-text: $gray-1;

$link-color: $dark-red;
$link-color-d1: $dark-red;
$link-hover: $cardinal-light;
$site-status-color: $cardinal-bg;

$header-graphic-super-color: $dark-red;
$header-graphic-sub-color: $lighter-base-font-color;

$header-link-color: $dark-red;
$header-link-hover: $cardinal-light;

$courseware-hover-color: $dark-red;
$courseware-navigation-color: $lighter-base-font-color;

$button-color: $cardinal-red;
$button-archive-color: $gray-3;

$shadow-color: $gray;

// actions
$button-bg-image: none;
$button-bg-color: $gray-3;
$button-bg-hover-color: $gray-1;

// actions - primary
$action-primary-bg: $cardinal-red;
$action-primary-fg: $gray-2;
$action-primary-shadow: none;

// focused - hover/active pseudo states
$action-primary-focused-bg: $dark-red;
$action-primary-focused-fg: $gray-1;

// current or active navigation item
$action-primary-active-bg: $dark-red;
$action-primary-active-fg: $gray-1;
$action-primary-active-shadow: none;
$action-primary-active-focused-fg: $gray-2;
$action-primary-active-focused-shadow: none;

// disabled
$action-primary-disabled-bg: $gray-75;
$action-prmary-disabled-fg: $gray-1;



// actions - secondary
$action-secondary-bg: $sandstone;
$action-secondary-fg: $gray;
$action-secondary-shadow: none;

// focused - hover/active pseudo states
$action-secondary-focused-bg: $sandstone-50;
$action-secondary-focused-fg: $gray;

// current or active navigation item
$action-secondary-active-bg: $sandstone-50;
$action-secondary-active-fg: $gray;
$action-secondary-active-shadow: none;
$action-secondary-active-focused-fg: $gray-75;
$action-secondary-active-focused-shadow: none;

// disabled
$action-secondary-disabled-bg: $gray-3;
$action-secondary-disabled-fg: $gray;

//

$border-color-1: $beige;
$border-color-2: $beige;
$border-color-3: $beige;
$outer-border-color: $beige;

$sidebar-color: $gray-1;

$dashboard-profile-header-image: none;
$dashboard-profile-header-color: $sandstone-25;
$dashboard-profile-color: $gray-3;
$dot-color: $beige;

$course-bg-color: $gray-3;
$course-bg-image: none;
$account-content-wrapper-bg: $gray-1;

$course-profile-bg: $gray-1;
$course-header-bg: transparentize($gray-1, .1);

$sidebar-chapter-bg-top: transparentize($gray-1, .3);
$sidebar-chapter-bg-bottom: transparentize($gray-1, .9);
$sidebar-chapter-bg: $gray-2;
$sidebar-active-image: $gray-3;

$form-bg-color: $gray-1;
$modal-bg-color: $gray-1;

//TOP HEADER IMAGE MARGIN
$header_image_margin: 0px;

//FOOTER MARGIN
$footer_margin: ($baseline/4) 0;

//-----------------
//  CSS BG Images
//-----------------
$homepage-bg-image: url('../themes/mitx/images/mitx-pano4grey2.jpeg');

// Resize
body .find-courses header.search, .university-profile header.search { height: 100px; }
#content > section.home > header { height: 100px; }

// Hide Video title
#content > section.home > header > div > div { visibility: hidden; }

$login-banner-image: none;
$register-banner-image: none;


//-----------------
//  Mixin Styles
//-----------------
@mixin login_register_h1_style {
    clip: auto !important;
    height: 50px;
    width: 550px;
    margin-top: 50px;
}

@mixin footer_references_style {
    margin: 0 !important;
    text-align: right;
}

// Header navigation style
header.global-new {
    border-color: $dark-red;
}

header.global.slim {
    border-color: $sandstone !important;
}

header.global-new .nav-global li a, header.global-new .nav-courseware li a {
	border-color: $sandstone;
}

header.global.slim h2 {
	color: $dark-red !important;
}

//-----------------
//  Hiding modal
//-----------------
section.find-courses header.search div.main-search {
    visibility: hidden;
}

//-----------------
//  courses image adjustment
//-----------------
header.search {
height: 100px;
margin-top: 132px;
background-position: center top !important;
}


//-----------------
//  Print media adjustments
//-----------------
@media print {
  /* Hide stuff */
  .wrapper-footer { display:none !important;} /* Footer */
  .calc { display:none !important;} /* Calculator */
  .wrap-instructor-info { display:none !important;} /* Instructor tools */
  nav { display:none !important;} /* Navigation elements */
  .course-index { display:none !important;} /* Sidebar */
  .action { display:none !important;} /* Buttons (Check, Save, etc) */
  [id^='display'].equation { display:none !important;} /* Equation previews */
  .donotprint { display:none !important;} /* Anything with class "donotprint" */
  a[href]:after {content: "" !important;} /* Fixes link display */
  .vert .xmodule_LTIModule {display: none !important;} /* Suppresses LTI components */
  .xmodule_DiscussionModule {display: none !important;} /* Suppresses discussion elements */
  .info-wrapper.handouts {display: none !important;} /* Suppresses handouts in welcome page */

  /* Fix some borders */
  .course-wrapper, .static_tab_wrapper, .info-wrapper {border: 0px !important;} /* Remove ugly border */
  .vert {border: 0 !important;} /* Removes grey lines underneath each entry in a vertical */

  /* Fix the heading */
  header.global nav { display: table !important; margin: 0;} /* Keep heading, move to left */
  header.global nav ol { display: none !important;} /* Kill navigational elements in the heading */

  /* Fix some whitespace issues */
  .container { padding:0 !important;} /* Remove some padding beneath the heading */
  #course-content { padding: 10px 10px 0 10px !important;} /* Remove some padding around the margins and bottom of page */
  #content-wrapper { padding: 0 !important;} /* Remove whitespace at the bottom of the page */

  /* Reduce whitespace around paragraphs */
  p {margin: 0 0 16px 0 !important;}
  p + p, ul + p, ol + p { margin-top: 16px !important;}

  /* Fix the whitespace around mathjax equations (not the inline variety) */
  table.equation {margin: 0 !important;}
  td.equation {padding: 0 !important;}
  div.MathJax_Display {margin: 0 !important;}
}
