<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html style="font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{course_title}</title>
  </head>
  <body style="font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 13px; line-height: 20px; color: #333; background-color: #fff; margin: 0;" bgcolor="#fff">
    <h3 style="font-family: inherit; font-weight: bold; line-height: 30px; color: inherit; text-rendering:optimizelegibility;font-size: 20px; margin: 10px 0;">
      Message from course: {course_title}</h3>
    {{message_body}}
    <hr style="border-top-color: #eee; border-top-style: solid; border-bottom-style: solid; border-bottom-color: #fff; margin: 20px 0; border-width: 1px 0; min-width: 100%">
    <h4><a href="{course_url}">View {course_title}</a></h4>
  </body>
</html>
