## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

<%block name="navigation_top">
  <section id="loloaddialog" class="modal" aria-hidden="true" style="z-index:1200; position: relative;">
	<div class="inner-wrapper" role="dialog" aria-labelledby="loloadxdialog_title">
      <button class="close-modal">&#10005; <span class="sr">Close Modal</span></button>
	  <header>
		<h2><span id="loloadxdialog_title">Local Course Load</span><span class="sr">, modal open</span></h2>
		<hr/>
      </header>
	  <div id="loloadxdialog_body" style="height: 250px; overflow: auto">
		<h3>Please wait while loading courses from disk <img src="/static/images/spinner.gif" /></div>
		  </div>
		</h3>
	  </div>
	</div>
  </section>
</%block>

## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
<img src="${static.url('themes/mitx/images/mitx_logo.png')}" height="58" alt="Home Page" />

</%block>

## When unauthenticated, only show the about page link
<%block name="navigation_global_links">
  <li class="nav-global-01">
	<a href="${marketing_link('COURSES')}">Find Courses</a>
  </li>
</%block>

## When authenticated, show both the about page and find courses
<%block name="navigation_global_links_authenticated">
  <li class="nav-global-01">
	<a href="${marketing_link('COURSES')}">Find Courses</a>
  </li>
  %if settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff:
  <li>
	<a href="${reverse('sysadmin')}">Sysadmin</a>
  </li>
  %endif
  <li>
	<a id="loloadx_allt" class="loloadx_all" rel="leanmodal" href="#loloaddialog">Load All Local Courses</a>
  </li>
</%block>
